.square {
  width: 100px;
  height: 100px;
  background-color: rgb(235, 250, 96);
}

.rounded {
  border-radius: 50px;
}

.triangle {
  width: 173.2px; /* (2√3)*h/3 */
  height: 150px; /* √3/2*w */
  border-bottom: 150px solid #ffa07a; /* √3/2*w */
  border-right: 86.6px solid transparent; /* (2√3)*height/2/3 */
  border-left: 86.6px solid transparent; /* (2√3)*height/2/3 */
  box-sizing: border-box;
}

.transition {
  transition: all 1s;
}
