<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Vue ATM</title>
  </head>
  <body>
    <!-- 入力画面 -->
    <section id="app1">
      <h1>入力画面</h1>
      <div>
        <div>
          <input type="number" v-model="number" id="number" />
          <div>入力額:{{ sum }}円</div>
          <button v-on:click="nyu">{{ nyukin }}</button>
          <button v-on:click="syu" v-bind:disabled="block">
            {{ syutu }}
          </button>
        </div>
      </div>

      <h1>口座画面</h1>
      <div>残高：{{ zandaka }}円</div>
      <h1>取引記録</h1>
      <div v-for="log in logs">
        日付：{{ log.date }}<br />
        操作：{{ log.type }}<br />
        金額：{{ log.money }}
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
